venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
*.cover
*.py,cover
.hypothesis/
.DS_Store
*.tmp
*.jsx
/tmp/